/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
body{ 
    margin: 0;
    background-color: #540B51;
}
.navbar {

   display:flex;
   flex-direction:row;
   background-color: #540B51;
   justify-content: space-between;
     
    }

  .box1 {
    background: #540B51;
  
}

#slack-logo {
  width: 20%;
  padding-top: 30px;
  padding-left: 30px;
}

  .box2 {
    background: #540B51;
    display: flex;
    gap: 10%;
    
  }
  .box2 img {
    background-color: #540B51;
  }

.signups {
    display: flex;
    flex-direction: column;
    height: 15vh; 
    gap: 10%;
    padding-left: 40px;
    padding-right: 40px;
  }
   /* padding-left: 20px;
    padding-right: 20px;
}
*/
#google img {
  height: 80%;
}

.signups button {
  height: 50%;
  border-radius: 4px;

}

#email {
  padding: 0, 0, 20px, 0;
  text-align: center;
  color: #540B51;
  text-transform: uppercase;
}

.hidden-list { 
  display: none; 
}

#google {
  background-color: #4285F4;
}
#google-icon {
  position: relative;
  right: 35%;
  border-color: white;
  background-color: white;
  border-radius: 4px;
}

#google-text {
position: relative;
bottom: 20%;
color: white;
text-align: center;
text-transform: uppercase;
}

.big-images {
object-fit: contain;
width: 100vw;

}

.image-container {
width: 100vw;
display: flex;
}

#announcements {
  position: relative;
  top: 20%;
  height: 80vh;
}

.great-teamwork {
  text-align: center;
  color: white;
  
}

.slack {
  text-align: center;
  color: white;
}

.companies-container {
display: flex;
flex-wrap: wrap;
background-color: #F3EAE2;
justify-content: space-between;
flex: 0, 1, auto;
width: 100vw;
height: 60vh;
gap: 10%;
}

.companies-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 10%;
  position: relative;
  margin-top: 10px;
}

.companies-container p {
text-transform: uppercase;
color: black;
padding-left: 160px;


}

.companies-logos img {
  width: 15%;
  height: 20%;
  
}

@media (min-width 768px) {
iteration1
}

@media (min-width 1024px) {
iteration 2
}